@model IEnumerable<SystemMonitorowaniaWydatkowDomowych.Models.Wydatek>

<h1>Lista wydatków</h1>


<h4>Łączne wydatki: @ViewBag.SumaWydatkow zł</h4>

<h4>Podsumowanie kategorii</h4>

<ul>
@foreach (var pozycja in ViewBag.PodsumowanieKategorii)
{
    <li>
        @pozycja.Kategoria: @pozycja.Suma zł
    </li>
}
</ul>


<form method="get">
    <label>Kategoria:</label>

    <select name="kategoriaId" asp-items="ViewBag.Kategorie">
        <option value="">Wszystkie</option>
    </select>

    <label>Metoda płatności:</label>

    <select name="metodaPlatnosciId" asp-items="ViewBag.MetodyPlatnosci">
        <option value="">Wszystkie</option>
    </select>

    <label>Opis:</label>
    <input type="text" name="szukaj" value="@ViewBag.Szukaj" />

    <label>Sortowanie:</label>

    <select name="sortowanie">
        <option value="">Brak</option>
        <option value="kwota_rosnaco">Kwota rosnąco</option>
        <option value="kwota_malejaco">Kwota malejąco</option>
    </select>

    <button type="submit" class="btn btn-primary btn-sm">
        Filtruj
    </button>


</form>

<br />

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj wydatek</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Opis</th>
            <th>Kwota</th>
            <th>Data</th>
            <th>Kategoria</th>
            <th>Metoda płatności</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wydatek in Model)
        {
            <tr>
                <td>@wydatek.Opis</td>
                <td>@wydatek.Kwota</td>
                <td>@wydatek.Data.ToShortDateString()</td>    
                <td>@wydatek.Kategoria.Nazwa</td>   
                <td>@wydatek.MetodaPlatnosci.Nazwa</td>   
                <td>
                    <a asp-action="Edit" asp-route-id="@wydatek.Id">Edytuj</a> |
                    <a asp-action="Delete" asp-route-id="@wydatek.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>


